@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");

:root {
    --color-primary: #6880FF;
    --color-primary-hover: #7C91FF;
}

* {
    background-color: #1C2830;
}

//#496374  #253540//